* {
    box-sizing: border-box
}

#co-articlepublish-context {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
    min-width: 900px;
    background-color: white;
    height: 100%;
    border: 1px solid #e5e9ef;
    border-radius: 4px
}

#co-editor-text-warp {
    max-height: 90%
}

#editor-text {
    height: 500px;
    width: 100%;
    padding: 0 24px 30px 0
}

#editor-text img {
    max-width: 100%
}

#article-handler {
    margin-top: 4px;
    width: 100%;
    border-top: 1px solid #ccd0d7
}

#article-handler .block-wrap {
    margin-top: 30px
}

#article-handler .block-title {
    font-size: 14px;
    min-height: 14px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px
}

.toolbar {
    width: 100%
}

.toolbar > div {
    margin-right: 2px
}

.content-wrap {
    height: 100%;
    margin: 0 auto;
    width: 800px;
    position: relative;
    overflow-y: auto
}

.content-wrap .article-title {
    width: 100%;
    margin-bottom: 18px;
    border: 0;
    position: relative;
    display: inline-block;
    transition: color .2s ease, background-color .2s ease, border-color .2s ease;
    border-bottom: 1px solid #ccd0d7;
    outline: 0;
    border-radius: 4px;
    overflow: hidden;
    cursor: text;
    font-size: 28px;
    padding: 12px 50px 12px 0;
    font-weight: 700;
    line-height: 40px;
    outline: 0;
    resize: none;
    text-align: justify
}

.w-e-icon-upload2 {
    font-size: 48px !important
}

#main-img {
    padding: 20px 10px 20px 0
}

#main-img > img {
    width: 260px;
    height: 160px;
    box-shadow: 0 0 2px #cecece;
    cursor: pointer
}

#main-img > img:hover {
    box-shadow: 0 0 3px #9d9d9d
}

.previewBox {
    box-shadow: 0 0 5px #adadad;
    width: 360px;
    height: 100px;
    margin-top: 30px;
    overflow: hidden
}

#cropImg {
    height: 250px;
    width: 480px;
    box-shadow: 0 0 5px #adadad
}

#article-category .category-list {
    list-style: none;
    margin: 0;
    padding: 0
}

#article-category .category-list > .category-list-item {
    position: relative;
    display: inline-block;
    margin-right: 12px;
    margin-top: 12px;
    box-sizing: border-box;
    background-color: #f5f7fb;
    border: 1px solid #cbd0d8;
    color: #222;
    font-size: 14px;
    border-radius: 2px;
    min-width: 80px;
    padding: 0 10px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    cursor: pointer
}

#article-category .category-list > .active {
    background-color: #fff;
    border-color: #ff837d;
    color: #ff837d;
    transition-duration: .2s
}

#article-category .category-list > .category-list-item:hover {
    background-color: #fff;
    border-color: #ff837d;
    color: #ff837d;
    transition-duration: .2s
}