<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fc.threekindom.mappers.CommentMapper">
    <insert id="insertComment" parameterType="Comment" >
        insert into tb_comment(commentator, create_time, comment_content, state, comment_face,article_id) values (#{commentator},now(),#{commentContent},#{state},#{commentFace},#{articleId})
    </insert>
    <select id="findCommentById" resultType="Comment">
        select * from  tb_comment where article_id=#{articleId} order by create_time desc
    </select>
</mapper>