<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace:命名空间  作为多个mapper文件的唯一标识
-->
<mapper namespace="com.fc.threekindom.mappers.UserMapper">
<select id="find" resultType="User">
  select * from tb_user
</select>
  <!--    通过用户名查找用户信息-->
  <select id="findUserByUserName" resultType="User">
    select * from tb_user
    where user_name=#{username}
</select>
  <!--    注册-->
  <insert id="regUser" parameterType="User">
        insert into tb_user(user_id,user_name,password,salt,create_time) values (null,#{userName},#{password},#{salt},now())
    </insert>
  <!--    根据用户名和密码查询用户-->
  <select id="loginCheck" resultType="User">
    select * from tb_user
    where user_name=#{username} and password=#{password}
  </select>
  <!--    根据用户名修改用户密码-->
  <update id="toUpdatePassword">
    update tb_user set password=#{newPassword},salt=#{newSalt} where user_name=#{username}
  </update>
  <!--    更新头像-->
  <update id="uploadFace">
    update tb_user set avatar=#{face} where user_name=#{username}
  </update>
  <!--    根据用户名修改用户信息-->
  <update id="modifyUserInfoByUsername" parameterType="User">
    update tb_user set  mailbox=#{mailbox},signature=#{signature} where user_name=#{userName}
  </update>
  <update id="signIn" >
    update tb_user set signInTime=now(),integral=integral+#{integral},exp=exp+#{exp} where user_id=#{userId}
  </update>
  <update id="setLogTime">
    update tb_user set login_time=now() where user_id=#{userId}
  </update>
  <select id="findAllByLogTime" resultType="User">
    select * from tb_user WHERE TO_DAYS( NOW()) -TO_DAYS(login_time)=#{i};
  </select>
  <select id="getAll" resultType="User">
    SELECT * FROM tb_user
  </select>
  <select id="findUserById" resultType="User">
    select *from tb_user where user_id=#{userId}
  </select>
  <update id="modifyUserInfo" parameterType="User">
    update tb_user set integral=#{integral},exp=#{exp} where user_name=#{userName}
  </update>
  <delete id="deleteUser">
    delete from tb_user where user_id=#{userId}
  </delete>
  <select id="countInRead" resultType="Advice">
    select *from tb_advice where user_name=#{userName} and read_state=1;
  </select>

</mapper>
