<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="/index/style/js01"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-FYBEW0S5S5'); </script>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="applicable-device" content="pc,mobile">
    <title>主页</title>

    <link rel="stylesheet" th:href="@{/index/style/css/main.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/semanticui/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/css/index.css}">

</head>
<body>
<link rel="stylesheet" th:href="@{/index/style/icon/iconfont.css}">

<div class="ui text ro-menu menu " style="position: relative;
        background: #fff;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        margin-top: 0;
        ">
    <a href="#">
        <img src="/image/logo.png">
    </a>
    <a class="ro-menu-item" href="/index">
        <span>主页</span>
    </a>
    <a class="ro-menu-item" href="/searchImage">
        <span>图鉴查询</span>
    </a>
    <a class="ro-menu-item" href="/search">
        <span>文章查询</span>
    </a>
   <a  style="margin-left: 20%;margin-top: 1.2%;font-family: 方正行楷繁体;font-size: 33px">
       <span>三国爱好者交流论坛 </span>
   </a>
    <div class="right menu" th:if="${session.userId}!=null" login=yes>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" target="_blank">
            <img class="ui mini circular image" th:src="@{${session.avatar}}">
        </a>
        <a class="ro-menu-item" id="menu-user-msg" href="#" >
            <i class="icon iconfont icon-bell large" th:unless="${session.inRead!=0}"></i>
            <i class="icon iconfont icon-bell-fill red large" th:if="${session.inRead!=0} " th:text="${session.inRead}"></i>
        </a>
    </div>
    <div class="right menu" th:unless="${session.userId}!=null" login=no>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" class="ro-menu-item" href="/log">
            <span>登录</span>
        </a>
    </div>
</div>

<div id="user-menu" class="ui popup" style="padding: 0">
    <div id="user-menu-namebox" th:text="${session.username}">
    </div>
    <div class="ui large vertical secondary menu">
        <a class="item" href="/userCenter" >
            个人中心
        </a>
        <a class="item" href="/publish/overview" >
            投稿后台
        </a>
        <a class="item" href="/logout">
            退出
        </a>
    </div>
</div>

<div id="user-msg-menu" class="ui popup" style="padding: 0">
    <div class="ui large vertical secondary menu">
        <a class="item" tab="reply" href="/message" >
            回复
        </a>
    </div>
</div>
<div style=" background-image: url(/image/04.jpg);background-size: cover;background-attachment: fixed;">
<div style="min-height: 1600px;width: 100%;background-color: rgba(255,255,255,0.2)">

    <section class="mindex-top-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="width: 950px">
                    <div>
                        <a href="#">
                            <div class="banner-pic"
                                 style="background-image: url(/image/cover.jpg)">
                            </div>
                        </a>
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="width: 950px">
                    <div>
                        <a href="/more" id="moreZiXun1">
                            <div class="banner-pic"
                                 style="background-image: url(/image/cover02.jpg)">
                                <div class="banner-text"><h2 style="color: white">资讯盘点</h2></div>
                            </div>
                        </a>
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="width: 950px">
                    <div>
                        <a href="/more" id="moreZaTan1" >
                            <div class="banner-pic"
                                 style="background-image: url(/image/cover03.jpg)">
                                <div class="banner-text"><h2 style="color: white">三国杂谈</h2></div>
                            </div>
                        </a>
                        <div class="mask"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="width: 950px">
                    <div>
                        <a href="/more" id="moreXueShu1"target="_blank">
                            <div class="banner-pic"
                                 style="background-image: url(/image/cover04.jpg)">
                                <div class="banner-text"><h2 style="color: white">学术专栏</h2></div>
                            </div>
                        </a>
                        <div class="mask"></div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </section>

    <div class="index-content">

        <div id="index-bulletin" class="ui equal width grid">
            <div class="column bulletin-box">
                <div th:style="'background-image:url(' + ${noticeIndex.articleFace} + ');'" >
                    <a class="istop" th:onclick="|javascript:toAticlePage('${noticeIndex.articleId}')|">
                        <div class="overlay"></div>
                        <div class="title">
                            <span>公告</span>
                            <h3 th:text="${noticeIndex.articleTitle}">文章区发文守则 (投稿前必看)</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column bulletin-box">
                <div style="background-image: url(https://ymgal.com/anntt/topic/main/250/369/25036975a27c2c620200926.webp)">
                    <a class="istop" href="https://www.ymgal.com/co/article/140181205919203328" target="_blank">
                        <div class="overlay"></div>
                        <div class="title">
                            <span>文章</span>
                            <h3>待到樱花萌放时——浅谈《樱花萌放～as the Night’s，Reincarnation》</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="column bulletin-box">
                <div style="background-image: url(https://store.ymgal.com/topic/main/xJR/M29/xJRM29ZIbaYNeyPC.webp)">
                    <a class="istop" href="https://hikarifield.co.jp/tsukiniyorisou/" target="_blank">
                        <div class="overlay"></div>
                        <div class="title">
                            <span>推广</span>
                            <h3>近月，官中，起飞！</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div style="margin-top: 48px">

            <div id="ym-main-box" class="ui grid" style="background-color: rgba(255,255,255,0.6)">
                <div class="ten wide column" >
                    <h3 id="article-stream" class="ui dividing header">
                        学术<span style="color: #ff837d">专栏</span>
                        <a href="/more" class="ym-right-link"id="moreXueShu" >查看更多</a>
                    </h3>
                    <div class="ui items main-list-topic" th:each="z:${xueShu}">
                        <div class="ui item"  >
                            <div class="image">
                                <a target="_blank" th:onclick="|javascript:toAticlePage('${z.articleId}')|">
                                    <img class="lazy" th:src="@{${z.articleFace}}">
                                </a>
                            </div>
                            <div class="content">
                                <a class="article-title" target="_blank"
                                   th:onclick="|javascript:toAticlePage('${z.articleId}')|"
                                   title="浅谈柚子社最近几年的作品"  th:text="${z.articleTitle}">浅谈柚子社最近几年的作品</a>
                                <div class="meta line2" th:text="${z.text}">要说柚子社的代表作，那就必然要提一个名字----《千恋*万花》此作是确确实实的能够代表柚子风格的作品凭心而论，千恋万花是确确实实的好作（我本人也是对某忍者爱得死去活来）但是柚子社有办法拿出另一个千恋万</div>
                                <div class="extra">
                                        <span><a href="#"
                                                 target="_blank" class="author"th:text="${z.createName}">风铃下的纸片酱</a></span>
                                    <span th:text="${#dates.format(z.modifyTime,'yyyy-MM-dd HH:mm:ss')}" > 10小时前 </span>
                                    <span><i class="iconfont icon-eye"
                                             style="font-size: 12px" th:text="${z.viewCount}"> 92</i></span>
                                    <span><i class="iconfont icon-like"
                                             style="font-size: 12px" th:text="${z.likeCount}"> 3</i></span>
                                    <span><i class="iconfont icon-message"
                                             style="font-size: 12px" th:text="${z.commentCount}"> 4</i></span>
                                </div>
                            </div>
                        </div>


                    </div>

                    <h3 id="news-stream" class="ui dividing header" style="margin-top: 80px">
                        盘点<span style="color: #ff837d">资讯</span>
                        <a href="/more" class="ym-right-link" id="moreZiXun">查看更多</a>
                    </h3>
                    <div class="ui items main-list-topic">
                        <div class="ui items main-list-topic" th:each="u: ${ziXun}">
                            <div class="ui item">
                                <div class="image">
                                    <a target="_blank" th:onclick="|javascript:toAticlePage('${u.articleId}')|">
                                        <img class="lazy" th:src="@{${u.articleFace}}">
                                    </a>
                                </div>
                                <div class="content">
                                    <a class="article-title" target="_blank"
                                       th:onclick="|javascript:toAticlePage('${u.articleId}')|"
                                       title="浅谈柚子社最近几年的作品"th:text="${u.articleTitle}">浅谈柚子社最近几年的作品</a>
                                    <div class="meta line2" th:text="${u.text}">要说柚子社的代表作，那就必然要提一个名字----《千恋*万花》此作是确确实实的能够代表柚子风格的作品凭心而论，千恋万花是确确实实的好作（我本人也是对某忍者爱得死去活来）但是柚子社有办法拿出另一个千恋万</div>
                                    <div class="extra">
                                        <span><a href="#"
                                                 target="_blank" class="author" th:text="${u.createName}">风铃下的纸片酱</a></span>
                                        <span th:text="${#dates.format(u.modifyTime,'yyyy-MM-dd HH:mm:ss')}" > 10小时前 </span>
                                        <span><i class="iconfont icon-eye"
                                                 style="font-size: 12px" th:text="${u.viewCount}"> 92</i></span>
                                        <span><i class="iconfont icon-like"
                                                 style="font-size: 12px" th:text="${u.likeCount}"> 3</i></span>
                                        <span><i class="iconfont icon-message"
                                                 style="font-size: 12px" th:text="${u.commentCount}"> 4</i></span>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                    <div id="main-bcolumn-box" class="row" style="margin-top: 80px">
                        <h3 class="ui dividing header">
                           三国<span style="color: #ff837d">杂谈</span>
                            <a href="/more" class="ym-right-link" id="moreZaTan">查看更多</a>
                        </h3>
                        <div class="ui items main-list-topic">
                            <div class="ui items main-list-topic" th:each="u: ${zaTan}">
                                <div class="ui item">
                                    <div class="image">
                                        <a target="_blank" th:onclick="|javascript:toAticlePage('${u.articleId}')|">
                                            <img class="lazy" th:src="@{${u.articleFace}}">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <a class="article-title" target="_blank"
                                           th:onclick="|javascript:toAticlePage('${u.articleId}')|"
                                           title="浅谈柚子社最近几年的作品"th:text="${u.articleTitle}">浅谈柚子社最近几年的作品</a>
                                        <div class="meta line2" th:text="${u.text}">要说柚子社的代表作，那就必然要提一个名字----《千恋*万花》此作是确确实实的能够代表柚子风格的作品凭心而论，千恋万花是确确实实的好作（我本人也是对某忍者爱得死去活来）但是柚子社有办法拿出另一个千恋万</div>
                                        <div class="extra">
                                        <span><a href="#"
                                                 target="_blank" class="author" th:text="${u.createName}">风铃下的纸片酱</a></span>
                                            <span th:text="${#dates.format(u.modifyTime,'yyyy-MM-dd HH:mm:ss')}" > 10小时前 </span>
                                            <span><i class="iconfont icon-eye"
                                                     style="font-size: 12px" th:text="${u.viewCount}"> 92</i></span>
                                            <span><i class="iconfont icon-like"
                                                     style="font-size: 12px" th:text="${u.likeCount}"> 3</i></span>
                                            <span><i class="iconfont icon-message"
                                                     style="font-size: 12px" th:text="${u.commentCount}"> 4</i></span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>


                    </div>
                </div>

                <div class="one wide column">

                </div>
                <div id="ym-right-box" class="five wide column">
                    <div id="right-atticletag-box" class="row ym-index-card">
                        <h3 class="ui header l-header">
                            <i class="iconfont icon-tag"></i>
                             每日签到
                            <span>每日一签, 经验升级</span>
                        </h3>

                        <div>
                            <p class="tag-list">
                                <button  th:unless="${session.signIn}==yes" style=" color: #fff;
    background-color: limegreen;
    border-color: limegreen;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);  height: 28px;width: 40%;" id="qianDao">签到</button>
                                <button  th:if="${session.signIn}==yes" style="  color: #fff;
    background-color: #ff6b80;
    border-color: #ff6b80;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045); height: 28px;width: 40%" >已签到</button>
                            </p>
                        </div>
                    </div>

                    <div id="right-picset-box"  style="display: none" class="row ym-index-card">
<!--                        <h3 class="l-header" style="margin-bottom: 10px">-->
<!--                            <i class="iconfont icon-image"></i>-->
<!--                            平台画札-->
<!--                            <span>这些图片..可能有你喜欢的</span>-->
<!--                        </h3>-->
<!--                        <div class="index-picset-list">-->
<!--                            <a href="/co/picset/164290028946587648" title="[CG]日向千尋は仕事が続かない" target="_blank">-->
<!--                                <div class="picset-card">-->
<!--                                    <img src="https://store.ymgal.com/topic/content/n6n/yFH/n6nyFHZ1odz8jwBg.jpg" alt="[CG]日向千尋は仕事が続かない">-->
<!--                                    <h3>[CG]日向千尋は仕事が続かない</h3>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="/co/picset/164646646880141312" title="[CG]我が姫君に栄冠を" target="_blank">-->
<!--                                <div class="picset-card">-->
<!--                                    <img src="https://store.ymgal.com/topic/content/ABv/QKo/ABvQKoayadn0mRhc.jpg" alt="[CG]我が姫君に栄冠を">-->
<!--                                    <h3>[CG]我が姫君に栄冠を</h3>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="/co/picset/164289764738990080" title="[CG]ISLAND DIARY" target="_blank">-->
<!--                                <div class="picset-card">-->
<!--                                    <img src="https://store.ymgal.com/topic/content/NNF/sPa/NNFsPaH1odGpV9Zg.jpg" alt="[CG]ISLAND DIARY">-->
<!--                                    <h3>[CG]ISLAND DIARY</h3>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="/co/picset/164648514628878336" title="[CG]源平繚乱絵巻 ‐GIKEI-" target="_blank">-->
<!--                                <div class="picset-card">-->
<!--                                    <img src="https://store.ymgal.com/topic/content/tlt/JP3/tltJP3Uyad0m4QRy.jpg" alt="[CG]源平繚乱絵巻 ‐GIKEI-">-->
<!--                                    <h3>[CG]源平繚乱絵巻 ‐GIKEI-</h3>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="/co/picset/168464624008560640" title="Quartett 部分游戏截图" target="_blank">-->
<!--                                <div class="picset-card">-->
<!--                                    <img src="https://store.ymgal.com/topic/content/l9m/VGO/l9mVGOz91dJMmIdi.jpg" alt="Quartett 部分游戏截图">-->
<!--                                    <h3>Quartett 部分游戏截图</h3>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            <a href="/co/picset/167910746124976128" title="Galgame开发引擎兵器谱扫图《二次元狂热》" target="_blank">-->
<!--                                <div class="picset-card">-->
<!--                                    <img src="https://store.ymgal.com/topic/content/tdW/U5s/tdWU5swemdLy89Kc.jpg" alt="Galgame开发引擎兵器谱扫图《二次元狂热》">-->
<!--                                    <h3>Galgame开发引擎兵器谱扫图《二次元狂热》</h3>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="card-extends"><a href="/co/picset">更多画札</a></div>-->
                    </div>



                    <div id="right-route-box" class="row ym-index-card">
                        <h3 class="l-header">
                            <i class="iconfont icon-link"></i>
                            站点导航
                            <span>发现更多宝藏</span>
                        </h3>
                        <div>
                            <div>
                                <div>
                                    <img class="ui avatar image" src="https://www.3040.net/static/image/common/logo.png">
                                    <a rel="nofollow noreferrer external" class="header l-header" target="_blank"
                                       href="https://www.3040.net">牧羊三国论坛</a>
                                </div>
                                <p>
                                    国内著名三国游戏论坛
                                </p>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <img class="ui avatar image" src="http://www.sanguocn.com/uc_server_sanguo/avatar.php?uid=47062&size=small">
                                    <a class="header l-header" target="_blank"
                                       href="http://www.sanguocn.com/forum.php">三国艺苑</a>
                                </div>
                                <p>
                                    国内著名三国交流论坛
                                </p>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <img class="ui avatar image" src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=4135554647,2088673283&fm=26&gp=0.jpg">
                                    <a rel="nofollow noreferrer external" class="header l-header" target="_blank"
                                       href="http://www.sdmzh.com.cn">四大名著网 </a>
                                </div>
                                <p>
                                    国内著名四大名著学习研究网站
                                </p>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <img class="ui avatar image" src="https://gss3.bdstatic.com/84oSdTum2Q5BphGlnYG/timg?wapp&quality=80&size=b150_150&subsize=20480&cut_x=0&cut_w=0&cut_y=0&cut_h=0&sec=1369815402&srctrace&di=affb04a540a248f4da1d87440d9cc891&wh_rate=null&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fpic%2Fitem%2F6b600c338744ebf8766e8e33d8f9d72a6059a79b.jpg">
                                    <a rel="nofollow noreferrer external" class="header l-header" target="_blank"
                                       href="https://tieba.baidu.com/f?kw=三国">三国吧</a>
                                </div>
                                <p>
                                    百度贴吧三国贴吧,国内最大三国爱好者聚集地
                                </p>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <img class="ui avatar image" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2666380919,103156998&fm=26&gp=0.jpg">
                                    <a rel="nofollow noreferrer external" class="header l-header" target="_blank"
                                       href="http://bbs.tianya.cn/list-107-1.shtml">三国纵横</a>
                                </div>
                                <p>
                                天涯社区三国板块
                                </p>
                            </div>
                            <br>
                            <div>
                                <div>
                                    <img class="ui avatar image" src="http://www.zhsan.com/template/comeing_vision_s/comeing/logo.png">
                                    <a rel="nofollow noreferrer external" class="header l-header" target="_blank"
                                       href="http://www.zhsan.com">中三之家</a>
                                </div>
                                <p>
                                   游戏:中华三国志 玩家交流论坛
                                </p>
                            </div>

                        </div>
                    </div>



                </div>
            </div>

        </div>


    </div>

</div>
</div>

<footer class="ro-footer">
    <div class="ui grid stackable">
        <div class="two wide column"></div>
        <div class="six wide column">
            <h3>三国爱好者交流论坛 <span
                    style="font-size: 12px; margin-left: 8px; font-weight: initial">请感受这绝妙的故事体裁</span>
            </h3>
            <p> 本论坛提供的内容基本引用自公开网络或用户自行上传，仅供网友阅读与交流。站点本身不发布、提供任何资源。</p>
            <div style="min-height: 18px"></div>
            <p> ©SGAHZLT. All Rights Reserved!<span id= "isLog" style="visibility: hidden" th:text="${session.userId}"></span></p>
        </div>
        <div class="six wide column" style="text-align: right">
            <div style="margin-bottom: 20px">
                <a href="javaScript:void(0);" style="margin-right: 20px">
                        <span class="iconfont icon-wechat-fill footer-spread-tip"
                              style="color: white;font-size: 48px;"></span>
                    <div class="ui special popup" style="width: 200px">
                        <img src="image/06.jpg" width="200px">
                        <p style="text-align: center">关注公众号: <b>三国爱好者交流论坛</b><br/> 洞悉三国大小事</p>
                    </div>
                </a>
                <a href="javaScript:void(0);">
                        <span class="iconfont icon-QQ-circle-fill footer-spread-tip"
                              style="color: white;font-size: 48px;"></span>
                    <div class="ui special popup" style="width: 200px">
                        <img src="/image/06.jpg" width="200px">
                        <p style="text-align: center">讨论、反馈、交流q群<br/> 276491323</p>
                    </div>
                </a>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="two wide column"></div>
    </div>
    <div class="ui grid stackable">
        <div class="two wide column"></div>
        <div class="three wide column"></div>
        <div class="six wide column" style="text-align: center">
            <img style="max-width: 200px" src="/image/logo.png">
        </div>
        <div class="three wide column"></div>
        <div class="two wide column"></div>
    </div>
</footer>
<script th:src="@{/index/style/components/jquery.min.js}"></script>
<script th:src="@{/index/style/components/semanticui/semantic.min.js}"></script>
<script th:src="@{/index/style/js/common.js}"></script>
<script th:src="@{/index/style/js/usermenu.js}"></script>
<script type="text/javascript " th:inline="none">
    $(".footer-spread-tip")
        .popup({
            inline: true,
            position: 'top center',
        });
</script>
<div class="ym-right-bar">
    <a href="/advice">
        <li data-inverted="" data-tooltip="建议·反馈" data-position="left center">
            <i class="iconfont icon-customerservice"></i>
        </li>
    </a>

    <li data-inverted="" data-tooltip="关注公众号" data-position="left center" onclick="wechatModel()">
        <i class="iconfont icon-wechat-fill"></i>
    </li>
    <li id="gotoTop" style="display: none" data-inverted="" data-tooltip="返回顶部" data-position="left center">
        <i class="iconfont icon-rocket"></i>
    </li>
</div>

<div id="wechat-model" class="ui tiny modal">
    <div class="content">
        <div class="description" style="padding-top: 12px">
            <div style="text-align: center">
                <h3>公众号: 三国爱好者交流论坛</h3>
                <img src="/image/06.jpg" width="260px">
            </div>
            <p>随时随地获取<b>最新的汉化情报</b>。每两小时更新</p>
            <p>可在微信上搜索论坛内容, 查看最新三国资讯以及站长转载的各路文章。上午 10:00 整不定期推送 (只要前一日有文章)</p>
        </div>
        <div class="ui divider"></div>
    </div>
</div>

<script type="application/javascript">

    $(function () {
        gotoTop();
    });

    function wechatModel() {
        $('#wechat-model')
            .modal({
                duration: 200,
                inverted: false
            })
            .modal('show');
    }
</script>
<script th:src="@{/index/style/components/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/index/style/components/jquery.lazyload.min.js}"></script>

<script type="text/javascript"  th:inline="none">
    $('.ui.accordion')
        .accordion();

    $(function () {
        $("img.lazy").lazyload({
            placeholder: "/static/bg.jpg",
            effect: "fadeIn",
            threshold: 200,
        });
    });

    $(function () {
        var bannerSwiper = new Swiper('.swiper-container', {
            direction: "horizontal",
            slidesPerView: 'auto',
            centeredSlides: true,
            initialSlide: 0,
            speed: 400,
            loop: true, // 循环模式选项
            autoplay: {
                delay: 7000,
                stopOnLastSlide: false,
                disableOnInteraction: false
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        });

        $(".mindex-top-banner .swiper-container").hover(
            function () {
                $(this).find(".swiper-button-next, .swiper-button-prev").fadeIn(200);
            },
            function () {
                $(this).find(".swiper-button-next, .swiper-button-prev").fadeOut(200);
            }
        )
    });

</script>
<!--去文章页面-->
<script type="text/javascript">
  function toAticlePage(id) {
      var articleId=id;
      $.ajax({
          type: "post",
          url: "/article/article",
          data:{"articleId":articleId},
          //请求成功
          success: function (result) {
              if (result.state==100) {
                  $msg.error("服务器异常!");
                  window.location.href = "/index";
              }

              window.location.href = "/article";

          }
      })

  }
</script>
<!--签到-->
<script>
    $("#qianDao").click(function () {
var log=$("#isLog").html();
if (log==""){
    $msg.info("请先登录");
    return;
}
        $.ajax({
            type: "POST",
            url: "/signIn" ,
            success: function (result) {
                if (result.state!=200) {
                    $msg.error(result.msg);
                    return;
                }
                //成功则跳转
             alert("签到成功,经验+100,积分+10");
                window.location.href = "/index";

            }

        })

    })

</script>
<!--查看更多学术文章-->
<script>
$("#moreXueShu").click(function () {
var tag="学术";
$.ajax({
    type: "POST",
    url: "/article/more" ,
    data: {"tag":tag},
    success: function (result) {
        console.log(result);
        if (result.state!=200) {
            $msg.error(result.msg);
            return;
        }
        //成功则跳转

        window.location.href = "/more";

    }
})
})
</script>
<!--查看更多学术文章-->
<script>
    $("#moreXueShu1").click(function () {
        var tag="学术";
        $.ajax({
            type: "POST",
            url: "/article/more" ,
            data: {"tag":tag},
            success: function (result) {
                console.log(result);
                if (result.state!=200) {
                    $msg.error(result.msg);
                    return;
                }
                //成功则跳转


                window.location.href = "/more";

            }
        })
    })
</script>
<!--查看更多资讯文章-->
<script>
    $("#moreZiXun").click(function () {
        var tag="资讯";
        $.ajax({
            type: "POST",
            url: "/article/more" ,
            data: {"tag":tag},
            success: function (result) {
                console.log(result);
                if (result.state!=200) {
                    $msg.error(result.msg);
                    return;
                }
                //成功则跳转


                window.location.href = "/more";

            }
        })
    })
</script>
<!--查看更多资讯文章-->
<script>
    $("#moreZiXun1").click(function () {
        var tag="资讯";
        $.ajax({
            type: "POST",
            url: "/article/more" ,
            data: {"tag":tag},
            success: function (result) {
                console.log(result);
                if (result.state!=200) {
                    $msg.error(result.msg);
                    return;
                }
                //成功则跳转


                window.location.href = "/more";

            }
        })
    })
</script>
<!--查看更多杂谈文章-->
<script>
    $("#moreZaTan").click(function () {
        var tag="杂谈";
        $.ajax({
            type: "POST",
            url: "/article/more" ,
            data: {"tag":tag},
            success: function (result) {
                console.log(result);
                if (result.state!=200) {
                    $msg.error(result.msg);
                    return;
                }
                //成功则跳转


                window.location.href = "/more";

            }
        })
    })
</script>
<!--查看更多杂谈文章-->
<script>
    $("#moreZaTan1").click(function () {
        var tag="杂谈";
        $.ajax({
            type: "POST",
            url: "/article/more" ,
            data: {"tag":tag},
            success: function (result) {
                console.log(result);
                if (result.state!=200) {
                    $msg.error(result.msg);
                    return;
                }
                //成功则跳转


                window.location.href = "/more";

            }
        })
    })
</script>
</body>
</html>