
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYBEW0S5S5"></script> <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-FYBEW0S5S5'); </script>    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="applicable-device" content="pc,mobile">

    <title>更多文章</title>


    <link rel="stylesheet" th:href="@{/index/style/css/main.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/semanticui/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet"  th:href="@{/index/style/css/co/articleindex.css}">

    <style type="text/css">
        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-container {
            --swiper-theme-color: #eae3df;
        }

        .swiper-pagination {
            text-align: right;
            padding-right: 30px;
            width: 50% !important;
            right: 0;
            left: auto !important;
        }

        .swiper-pagination-bullet {
            width: 30px;
            height: 3px;
            display: inline-block;
            border-radius: 1px;
            background: #fff;
        }
    </style>

</head>
<body>

<link rel="stylesheet" th:href="@{/index/style/icon/iconfont.css}">

<div class="ui text ro-menu menu " style="position: relative;
        background: #fff;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        margin-top: 0;
        ">
    <a href="#">
        <img src="/image/logo.png">
    </a>
    <a class="ro-menu-item" href="/index">
        <span>主页</span>
    </a>
    <a class="ro-menu-item" href="/searchImage">
        <span>图鉴查询</span>
    </a>
    <a class="ro-menu-item" href="/search">
        <span>文章查询</span>
    </a>

    <div class="right menu" th:if="${session.userId}!=null" login=yes>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" href="#" target="_blank">
            <img class="ui mini circular image" th:src="@{${session.avatar}}">
        </a>
        <a class="ro-menu-item" id="menu-user-msg" href="#" >
            <i class="icon iconfont icon-bell large" th:unless="${session.inRead!=0}"></i>
            <i class="icon iconfont icon-bell-fill red large" th:if="${session.inRead!=0} " th:text="${session.inRead}"></i>
        </a>
    </div>
    <div class="right menu" th:unless="${session.userId}!=null" login=no>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" class="ro-menu-item" href="/log">
            <span>登录</span>
        </a>
    </div>
</div>

<div id="user-menu" class="ui popup" style="padding: 0">
    <div id="user-menu-namebox" th:text="${session.username}">
    </div>
    <div class="ui large vertical secondary menu">
        <a class="item" href="/userCenter" >
            个人中心
        </a>
        <a class="item" href="/publish/overview" >
            投稿后台
        </a>
        <a class="item" href="/logout">
            退出
        </a>
    </div>
</div>

<div id="user-msg-menu" class="ui popup" style="padding: 0">
    <div class="ui large vertical secondary menu">
        <a class="item" tab="reply" href="/message" >
            回复
        </a>
    </div>
</div>




<div style="background-image: url(/image/07.jpg);background-size: cover;background-attachment: fixed;">
<div style="min-height: 800px;padding: 60px 0;background-color: rgba(255,255,255,0.3)" >

    <div class="ui container grid co-container">
        <div class="ui row stackable">
            <div class="twelve wide column co-entry">
                <h3 class="ui dividing header" style="border-color: #ffd3b6;margin-bottom: 12px">
                    <span style="color: #ff837d">精选</span>
                </h3>

<!--                //精品-->
                <div id="co-columns" class="ui special cards container two grid">
                    <div class="card">
                        <img  th:src="${likeList.get(0).articleFace}">
                        <div  class="co-column-info"
                              th:onclick="|javascript:toAticlePage('${likeList.get(0).articleId}')|" >
                            <a class="title" th:text="${likeList.get(0).articleTitle}">加载失败</a>
                            <p th:text="${likeList.get(0).text}">加载失败</p>
                        </div>
                    </div>
                    <div class="card">
                        <img th:src="${likeList.get(1).articleFace}">
                        <div class="co-column-info"
                             th:onclick="|javascript:toAticlePage('${likeList.get(1).articleId}')|" >
                            <a class="title"th:text="${likeList.get(1).articleTitle}">加载失败</a>
                            <p th:text="${likeList.get(1).text}">加载失败</p>
                        </div>
                    </div>
                    <div class="card">
                        <img th:src="${likeList.get(3).articleFace}">
                        <div class="co-column-info"
                             th:onclick="|javascript:toAticlePage('${likeList.get(3).articleId}')|" >
                            <a class="title"th:text="${likeList.get(3).articleTitle}">加载失败</a>
                            <p th:text="${likeList.get(3).text}">加载失败</p>
                        </div>
                    </div>
                    <div class="card">
                        <img th:src="${likeList.get(2).articleFace}">
                        <div class="co-column-info"
                             th:onclick="|javascript:toAticlePage('${likeList.get(2).articleId}')|" >
                            <a class="title" th:text="${likeList.get(2).articleTitle}">加载失败</a>
                            <p th:text="${likeList.get(2).text}">加载失败</p>
                        </div>
                    </div>
                </div>


                <div id="co-topic-nav" style="margin-top: 42px">
                    <span onclick="listTopic.tabChange(this,'NEWS')">时间</span>
                    <span onclick="listTopic.tabChange(this,'COLUMN')">评论数</span>
                </div>

                <div id="newsTopicBox" class="ui divided items co-list-topic">
                    <div class="ui item" th:each="a:${tagListTime}" topicId="{{topicId}}">
                        <div class="content">
                            <a class="header" target="_blank"  th:onclick="|javascript:toAticlePage('${a.articleId}')|" th:text="${a.articleTitle}">{{title}}</a>
                            <div class="meta" th:text="${a.text}">{{introduction}}</div>
                            <div class="extra">
                                <span>三国爱好者交流论坛</span>
                                <span  th:text="${#dates.format(a.modifyTime,'yyyy-MM-dd HH:mm:ss')}"> {{publishTimeText}} </span>
                                <span class="topicCategory" th:text="${a.tag}"> {{topicCategory}} </span>
                                <span><i class="iconfont icon-eye" style="font-size: 12px"th:text="${a.viewCount}"> {{views}}</i></span>
                                <span><i class="iconfont icon-message" style="font-size: 12px"th:text="${a.commentCount}"> {{replyNum}}</i></span>
                            </div>
                        </div>
                        <div class="image">
                            <img th:src="${a.articleFace}">
                        </div>
                    </div>

                </div>
                <div id="columnTopicBox" class="ui divided items co-list-topic">
                    <div class="ui item" th:each="a:${tagListComment}" topicId="{{topicId}}">
                        <div class="content">
                            <a class="header" target="_blank"  th:onclick="|javascript:toAticlePage('${a.articleId}')|" th:text="${a.articleTitle}">{{title}}</a>
                            <div class="meta" th:text="${a.text}">{{introduction}}</div>
                            <div class="extra">
                                <span>三国爱好者交流论坛</span>
                                <span  th:text="${#dates.format(a.modifyTime,'yyyy-MM-dd HH:mm:ss')}"> {{publishTimeText}} </span>
                                <span class="topicCategory" th:text="${a.tag}"> {{topicCategory}} </span>
                                <span><i class="iconfont icon-eye" style="font-size: 12px"th:text="${a.viewCount}"> {{views}}</i></span>
                                <span><i class="iconfont icon-message" style="font-size: 12px"th:text="${a.commentCount}"> {{replyNum}}</i></span>
                            </div>
                        </div>
                        <div class="image">
                            <img th:src="${a.articleFace}">
                        </div>
                    </div>
                </div>

                <div id="listBottom" style="margin-top: 6px; height: 24px">

                </div>
            </div>
            <div class="four wide column co-info">
                <div class="ui equal width column grid"  th:if="${session.userId}!=null" align="center">
                    <div class="column co-pointer" onclick="window.location.href='/publish/overview'">
                        <span class="iconfont icon-book co-process"></span>
                        <span>投稿数据</span>
                    </div>
                    <div class="column co-pointer" title="登录后操作" onclick="window.location.href='/publish/board'">
                        <span class="iconfont icon-file-text co-process"></span>
                        <span>文章管理</span>
                    </div>
                    <div class="column co-pointer" title="登录后操作" onclick="window.location.href='/publish/column'">
                        <span class="iconfont icon-edit-fill co-process"></span>
                        <span>撰写专栏</span>
                    </div>

                </div>
                <h3 class="ui header l-header" style="margin-top: 60px">
                    <span style="color: #ff837d">热门</span>排行榜
                </h3>
                <div id="co-rank"  th:each="u: ${viewList}" class="ui list">
                    <a class="item" title="关于我为什么不喜欢柚子社的二三事" target="_blank"
                       th:onclick="|javascript:toAticlePage('${u.articleId}')|" th:text="${u.articleTitle}">
                        关于我为什么不喜欢柚子社的二三事
                    </a>

                </div>
                <h3 class="ui header l-header">
                </h3>
            </div>
        </div>
    </div>
</div>
</div>



<footer class="ro-footer">
    <div class="ui grid stackable">
        <div class="two wide column"></div>
        <div class="six wide column">
            <h3>三国爱好者交流论坛 <span
                    style="font-size: 12px; margin-left: 8px; font-weight: initial">请感受这绝妙的故事体裁</span>
            </h3>
            <p> 本论坛提供的内容基本引用自公开网络或用户自行上传，仅供网友阅读与交流。站点本身不发布、提供任何资源。</p>
            <div style="min-height: 18px"></div>
            <p> ©SGAHZLT. All Rights Reserved!</p>
        </div>
        <div class="six wide column" style="text-align: right">
            <div style="margin-bottom: 20px">
                <a href="javaScript:void(0);" style="margin-right: 20px">
                        <span class="iconfont icon-wechat-fill footer-spread-tip"
                              style="color: white;font-size: 48px;"></span>
                    <div class="ui special popup" style="width: 200px">
                        <img src="image/06.jpg" width="200px">
                        <p style="text-align: center">关注公众号: <b>三国爱好者交流论坛</b><br/> 洞悉三国大小事</p>
                    </div>
                </a>
                <a href="javaScript:void(0);">
                        <span class="iconfont icon-QQ-circle-fill footer-spread-tip"
                              style="color: white;font-size: 48px;"></span>
                    <div class="ui special popup" style="width: 200px">
                        <img src="/image/06.jpg" width="200px">
                        <p style="text-align: center">讨论、反馈、交流q群<br/> 276491323</p>
                    </div>
                </a>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="two wide column"></div>
    </div>
    <div class="ui grid stackable">
        <div class="two wide column"></div>
        <div class="three wide column"></div>
        <div class="six wide column" style="text-align: center">
            <img style="max-width: 200px" src="/image/logo.png">
        </div>
        <div class="three wide column"></div>
        <div class="two wide column"></div>
    </div>
</footer>

<script th:src="@{/index/style/components/jquery.min.js}"></script>
<script th:src="@{/index/style/components/semanticui/semantic.min.js}"></script>
<script th:src="@{/index/style/js/common.js}"></script>
<script th:src="@{/index/style/js/usermenu.js}"></script>

<script type="text/javascript">
    $(".footer-spread-tip")
        .popup({
            inline: true,
            position: 'top center',
        });
</script>
<div class="ym-right-bar">
    <a href="/advice">
        <li data-inverted="" data-tooltip="建议·反馈" data-position="left center">
            <i class="iconfont icon-customerservice"></i>
        </li>
    </a>

    <li data-inverted="" data-tooltip="关注公众号" data-position="left center" onclick="wechatModel()">
        <i class="iconfont icon-wechat-fill"></i>
    </li>
    <li id="gotoTop" style="display: none" data-inverted="" data-tooltip="返回顶部" data-position="left center">
        <i class="iconfont icon-rocket"></i>
    </li>
</div>

<div id="wechat-model" class="ui tiny modal">
    <div class="content">
        <div class="description" style="padding-top: 12px">
            <div style="text-align: center">
                <h3>公众号: 三国爱好者交流论坛</h3>
                <img src="/image/06.jpg" width="260px">
            </div>
            <p>随时随地获取<b>最新的情报</b>。每两小时更新</p>
            <p>可在微信上搜索站点内容, 查看最新三国资讯以及站长转载的各路文章。上午 10:00 整不定期推送 (只要前一日有文章)</p>
        </div>
        <div class="ui divider"></div>
    </div>
</div>

<script type="application/javascript">

    $(function () {
        gotoTop();
    });

    function wechatModel() {
        $('#wechat-model')
            .modal({
                duration: 200,
                inverted: false
            })
            .modal('show');
    }
</script>
<script th:src="@{/index/style/components/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/index/style/js/co/articleindex.js}"></script>

</body>

<script type="application/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        loop: true, // 循环模式选项
        autoplay: {
            delay: 5000,
            stopOnLastSlide: false,
            disableOnInteraction: false
        },

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    })
</script>
<!--去文章页面-->
<script type="text/javascript">
    function toAticlePage(id) {
        var articleId=id;
        $.ajax({
            type: "post",
            url: "/article/article",
            data:{"articleId":articleId},
            //请求成功
            success: function (result) {
                if (result.state==100) {
                    $msg.error("服务器异常!");
                    window.location.href = "/index";
                }

                window.location.href = "/article";

            }
        })

    }
</script>

</html>