
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYBEW0S5S5"></script> <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-FYBEW0S5S5'); </script>    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="applicable-device" content="pc,mobile">

    <title>月幕Galgame - 文章</title>
    <meta name="description"
          content="月幕Galgame文章版块, 每日更新Gal资讯、Gal专栏、Gal评测、业界要闻等, 专为Galgamer打造的文章社区!">


    <link rel="stylesheet" href="/static/css/main.css?version=v2.17.26">
    <link rel="stylesheet" href="/static/components/semanticui/semantic.min.css">
    <link rel="stylesheet" href="/static/components/swiper/swiper-bundle.min.css">

    <link rel="stylesheet" href="/static/css/co/articleindex.css?version=v2.17.26">

    <style type="text/css">
        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-container {
            --swiper-theme-color: #eae3df;
        }

        .swiper-pagination {
            text-align: right;
            padding-right: 30px;
            width: 50% !important;
            right: 0;
            left: auto !important;
        }

        .swiper-pagination-bullet {
            width: 30px;
            height: 3px;
            display: inline-block;
            border-radius: 1px;
            background: #fff;
        }
    </style>

</head>
<body>

<link rel="stylesheet" href="/static/icon/iconfont.css">

<div class="ui text ro-menu menu " style="position: relative;
        background: #fff;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        margin-top: 0;
        ">
    <a href="#">
        <img src="/image/logo.png">
    </a>
    <a class="ro-menu-item" href="/index">
        <span>主页</span>
    </a>
    <a class="ro-menu-item" href="#">
        <span>图鉴查询</span>
    </a>
    <a class="ro-menu-item" href="#">
        <span>获取积分</span>
    </a>
    <div class="right menu" login=no>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" class="ro-menu-item" href="/signin">
            <span>登录</span>
        </a>
    </div>
</div>




<div style="min-height: 800px;padding: 60px 0">

    <div class="ui container grid co-container">
        <div class="ui row big-topimg">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://store.ymgal.com/topic/main/L7h/ge3/L7hge3dcOda8tkUc.webp">
                        <a href="https://www.ymgal.com/co/article/172126731430264832">如何全面地评价GALGAME的剧情？从6个方面着手</a>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://www.ymgal.com/anntt/topic/main/250/915/250915a5767dca020201012.webp">
                        <a href="https://www.ymgal.com/co/article/26229441522941956">神明与生命——天津罪</a>
                    </div>
                    <div class="swiper-slide">
                        <img src="https://ymgal.com/anntt/topic/main/250/5d8/2505d8d16d9d0d720201003.webp">
                        <a href="https://ymgal.com/co/article/26216183480582152">细品《ATRI》人物，论应该如何下笔构造一个足够媚宅的Galgame女主</a>
                    </div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>

                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
        </div>
        <div class="ui row stackable">
            <div class="twelve wide column co-entry">
                <h3 class="ui dividing header" style="border-color: #ffd3b6;margin-bottom: 12px">
                    <span style="color: #ff837d">精选</span>
                </h3>
                <div id="co-columns" class="ui special cards container two grid">
                    <div class="card">
                        <img src="https://www.ymgal.com/anntt/topic/main/aa2/915/aa2915516297b4420201124.webp">
                        <div title="为什么废萌会社难以转型？——从《皇姬》浅谈废萌会社的两难之处" class="co-column-info"
                             onclick="window.location.href='https://www.ymgal.com/co/article/119207710519459840'">
                            <a class="title">为什么废萌会社难以转型？——从《皇姬》浅谈废萌会社的两难之处</a>
                            <p>很多玩gal的朋友，总会在打完某部废萌之后大呼白开水。对于追求剧情质量的他们，这样的诉求是正常的。那么，废萌会社就不知道自己的剧本质量不如人，而不去提升质量么？</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://store.ymgal.com/topic/main/N2Z/6N5/N2Z6N5KeAs697U0Z.webp">
                        <div title=" 泡沫时代的黑色浪花，不为人知的阴暗现实 ——《泡沫冬景：和平默示录》" class="co-column-info"
                             onclick="window.location.href='https://www.ymgal.com/co/article/158962753871020032'">
                            <a class="title"> 泡沫时代的黑色浪花，不为人知的阴暗现实 ——《泡沫冬景：和平默示录》</a>
                            <p>日本泡沫破裂距今也已30年了，泡沫破裂时的惨状，我们未曾见证，泡沫经济时期东京空前的繁荣，我们也未曾见证。亲身经历过那段岁月的剧本作家在现如今的整个业界也为数甚少，片冈智作为亲身经历过泡沫时代的剧本作家，为这部《泡沫冬景》注入了一种别具一格的魅力。</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://store.ymgal.com/topic/main/0PT/lZE/0PTlZEBFUd6rmHDb.webp">
                        <div title="多娜多娜剧透向分析解读——主线略短但逻辑自洽" class="co-column-info"
                             onclick="window.location.href='https://www.ymgal.com/co/article/171792574783160320'">
                            <a class="title">多娜多娜剧透向分析解读——主线略短但逻辑自洽</a>
                            <p>很多人在看到标题时都有一个疑惑，DohnaDohna？什么意思，用意在哪？其实，DohnaDohna应该写作DonnaDonna，是一首著名歌曲。Donna Donna…是歌中的重叠词，多娜是一女子的名字，代表着处于压迫中的所有女性。这首歌对比了牛和燕子。牛代表了被压迫者，燕子代表了自由的人。歌中的农夫代表当权者，压迫自由的人。</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://store.ymgal.com/topic/main/QXI/DGe/QXIDGecgPd6i3DYu.webp">
                        <div title="从色系和廓形的角度出发,欣赏《雪影-setsuei-》的服装设计" class="co-column-info"
                             onclick="window.location.href='https://www.ymgal.com/co/article/172306837176057856'">
                            <a class="title">从色系和廓形的角度出发,欣赏《雪影-setsuei-》的服装设计</a>
                            <p>《雪影-setsuei-》是田中罗密欧负责企画原案，日野亘执笔的一部galgame。其中的深雪姐姐想必给各位玩家留下了很深的印象。今天我们从色系和廓形的角度出发来欣赏人物的服装，浅谈一些游戏中的细节和文笔。
                            </p>
                        </div>
                    </div>
                </div>
                <div id="co-topic-nav" style="margin-top: 42px">
                    <span onclick="listTopic.tabChange(this,'NEWS')">资讯</span>
                    <span onclick="listTopic.tabChange(this,'COLUMN')">专栏</span>
                </div>

                <div id="newsTopicBox" class="ui divided items co-list-topic">

                </div>
                <div id="columnTopicBox" class="ui divided items co-list-topic">

                </div>
                <div id="listBottom" style="margin-top: 6px; height: 24px"></div>
            </div>
            <div class="four wide column co-info">
                <div class="ui equal width column grid" align="center">
                    <div class="column co-pointer" onclick="window.location.href='/search?type=article'">
                        <span class="iconfont icon-search co-process"></span>
                        <span>搜索文章</span>
                    </div>
                    <div class="column co-pointer" title="登录后操作" onclick="$msg.warning('登录后操作')">
                        <span class="iconfont icon-file-text co-process"></span>
                        <span>发布资讯</span>
                    </div>
                    <div class="column co-pointer" title="登录后操作" onclick="$msg.warning('登录后操作')">
                        <span class="iconfont icon-edit-fill co-process"></span>
                        <span>撰写专栏</span>
                    </div>

                </div>
                <h3 class="ui header l-header" style="margin-top: 60px">
                    <span style="color: #ff837d">热门</span>排行榜
                </h3>
                <div id="co-rank" class="ui list">
                    <a class="item" title="关于我为什么不喜欢柚子社的二三事" target="_blank"
                       href='/co/article/143446421817786368'>
                        关于我为什么不喜欢柚子社的二三事
                    </a>
                    <a class="item" title="多娜多娜 中文版正式发售&amp;开放下载" target="_blank"
                       href='/co/article/163183846777421824'>
                        多娜多娜 中文版正式发售&amp;开放下载
                    </a>
                    <a class="item" title="2月26日发售的Galgame大汇总， 真多啊..." target="_blank"
                       href='/co/article/153237990884245504'>
                        2月26日发售的Galgame大汇总， 真多啊...
                    </a>
                    <a class="item" title="Getchu 2020年度美少女游戏排行已出" target="_blank"
                       href='/co/article/151802799120711680'>
                        Getchu 2020年度美少女游戏排行已出
                    </a>
                    <a class="item" title="为什么我说《素晴日》不算真神作？" target="_blank"
                       href='/co/article/147484208686694400'>
                        为什么我说《素晴日》不算真神作？
                    </a>
                    <a class="item" title="月幕Galgame，上线了一个算得上是里程碑式的版本。" target="_blank"
                       href='/co/article/164280709576392704'>
                        月幕Galgame，上线了一个算得上是里程碑式的版本。
                    </a>
                    <a class="item" title="听起来有点微妙，但你现在确实可以在微信上看最新的Galgame汉化情报 " target="_blank"
                       href='/co/article/167373722150240256'>
                        听起来有点微妙，但你现在确实可以在微信上看最新的Galgame汉化情报
                    </a>
                    <a class="item" title="浅谈柚子社最近几年的作品" target="_blank"
                       href='/co/article/168726855929561088'>
                        浅谈柚子社最近几年的作品
                    </a>
                    <a class="item" title="这些galgame会社，你知道多少？" target="_blank"
                       href='/co/article/143075065074810880'>
                        这些galgame会社，你知道多少？
                    </a>
                    <a class="item" title="兰斯7官中开卖， 多娜多娜预约开始！" target="_blank"
                       href='/co/article/147354798713208832'>
                        兰斯7官中开卖， 多娜多娜预约开始！
                    </a>
                </div>
                <h3 class="ui header l-header">
                </h3>
            </div>
        </div>
    </div>
</div>

<script id="topic-list-template" type="text/html">
    <div class="ui item" topicId="{{topicId}}">
        <div class="content">
            <a class="header" target="_blank" href="/co/article/{{topicId}}">{{title}}</a>
            <div class="meta">{{introduction}}</div>
            <div class="extra">
                <span>{{createAt}}</span>
                <span> {{publishTimeText}} </span>
                <span class="topicCategory"> {{topicCategory}} </span>
                <span><i class="iconfont icon-eye" style="font-size: 12px"> {{views}}</i></span>
                <span><i class="iconfont icon-message" style="font-size: 12px"> {{replyNum}}</i></span>
            </div>
        </div>
        <div class="image">
            <img src="https://store.ymgal.com/{{mainImg}}">
        </div>
    </div>
</script>

<footer class="ro-footer">
    <div class="ui grid stackable">
        <div class="two wide column"></div>
        <div class="six wide column">
            <h3>月幕Galgame <span
                    style="font-size: 12px; margin-left: 8px; font-weight: initial">请感受这绝妙的故事体裁</span>
            </h3>
            <p> 本站提供的内容基本引用自公开网络或用户自行上传，仅供网友阅读与交流。站点本身不发布、提供任何资源。</p>
            <div style="min-height: 18px"></div>
            <p> ©YMGal. All Rights Reserved!</p>
        </div>
        <div class="six wide column" style="text-align: right">
            <div style="margin-bottom: 20px">
                <a href="javaScript:void(0);" style="margin-right: 20px">
                        <span class="iconfont icon-wechat-fill footer-spread-tip"
                              style="color: white;font-size: 48px;"></span>
                    <div class="ui special popup" style="width: 200px">
                        <img src="/static/img/spread/wechat-qrcode.jpg" width="200px">
                        <p style="text-align: center">关注公众号: <b>月幕Galgame</b><br/> 洞悉Galgame大小事</p>
                    </div>
                </a>
                <a href="javaScript:void(0);">
                        <span class="iconfont icon-QQ-circle-fill footer-spread-tip"
                              style="color: white;font-size: 48px;"></span>
                    <div class="ui special popup" style="width: 200px">
                        <img src="/static/img/spread/ymqq-qun.jpg" width="200px">
                        <p style="text-align: center">讨论、反馈、交流q群<br/> 885297273</p>
                    </div>
                </a>
            </div>
            <p></p>
            <p></p>
        </div>
        <div class="two wide column"></div>
    </div>
    <div class="ui grid stackable">
        <div class="two wide column"></div>
        <div class="three wide column"></div>
        <div class="six wide column" style="text-align: center">
            <img style="max-width: 400px" src="/static/footer.png" alt="月幕Galgame www.ymgal.com">
        </div>
        <div class="three wide column"></div>
        <div class="two wide column"></div>
</footer>

<script src="/static/components/jquery.min.js"></script>
<script src="/static/components/semanticui/semantic.min.js"></script>
<script src="/static/js/common.js?version=v2.17.26"></script>
<script src="/static/js/usermenu.js?version=v2.17.26"></script>

<script type="text/javascript">
    $(".footer-spread-tip")
        .popup({
            inline: true,
            position: 'top center',
        });
</script>
<div class="ym-right-bar">
    <a href="/feedback" target="_blank">
        <li data-inverted="" data-tooltip="建议·反馈" data-position="left center">
            <i class="iconfont icon-customerservice"></i>
        </li>
    </a>

    <li data-inverted="" data-tooltip="关注公众号" data-position="left center" onclick="wechatModel()">
        <i class="iconfont icon-wechat-fill"></i>
    </li>
    <li id="gotoTop" style="display: none" data-inverted="" data-tooltip="返回顶部" data-position="left center">
        <i class="iconfont icon-rocket"></i>
    </li>
</div>

<div id="wechat-model" class="ui tiny modal">
    <div class="content">
        <div class="description" style="padding-top: 12px">
            <div style="text-align: center">
                <h3>公众号: 月幕Galgame</h3>
                <img src="/static/img/spread/wechat-qrcode.jpg" width="260px">
            </div>
            <p>随时随地获取<b>最新的汉化情报</b>。每两小时更新</p>
            <p>可在微信上搜索站点内容, 查看最新Galgame资讯以及站长转载的各路文章。上午 10:00 整不定期推送 (只要前一日有文章)</p>
        </div>
        <div class="ui divider"></div>
    </div>
</div>

<script type="application/javascript">

    $(function () {
        gotoTop();
    });

    function wechatModel() {
        $('#wechat-model')
            .modal({
                duration: 200,
                inverted: false
            })
            .modal('show');
    }
</script>
<script src="/static/components/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/co/articleindex.js?version=v2.17.26"></script>

</body>

<script type="application/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        loop: true, // 循环模式选项
        autoplay: {
            delay: 5000,
            stopOnLastSlide: false,
            disableOnInteraction: false
        },

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        }
    })
</script>
</html>