<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FYBEW0S5S5"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-FYBEW0S5S5'); </script>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>文章发布</title>

    <link rel="stylesheet" th:href="@{/index/style/components/semanticui/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/semanticui/components/dropdown.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/css/main.css}">
    <link rel="stylesheet" th:href="@{/index/style/css/co/publish/main.css}">

    <style type="text/css">
        p {
            line-height: 1.8;
        }
    </style>

    <style type="text/css">
    </style>

</head>
<body style="background: #fafafa;">

<link rel="stylesheet" th:href="@{/index/style/icon/iconfont.css}">

<div class="ui text ro-menu menu " style="position: relative;
        background: #fff;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        margin-bottom: 0;
        margin-top: 0;
        ">
    <a href="#">
        <img src="/image/logo.png">
    </a>
    <a class="ro-menu-item" href="/index">
        <span>主页</span>
    </a>
    <a class="ro-menu-item" href="#">
        <span>图鉴查询</span>
    </a>
    <a class="ro-menu-item" href="#">
        <span>获取积分</span>
    </a>
    <div class="right menu" th:if="${session.userId}!=null" login=yes>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" href="#" target="_blank">
            <img class="ui mini circular image" th:src="@{${session.avatar}}">
        </a>
        <a class="ro-menu-item" id="menu-user-msg" href="#" >
            <i class="icon iconfont icon-bell large" th:unless="${session.inRead!=0}"></i>
            <i class="icon iconfont icon-bell-fill red large" th:if="${session.inRead!=0} " th:text="${session.inRead}"></i>
        </a>
    </div>
    <div class="right menu" th:unless="${session.userId}!=null" login=no>
        <div id="ro-search-box" class="ro-menu-item" style="display: none">
            <div id="main-search-input" class="ui left icon input">
                <input type="text" placeholder="搜索...">
                <i class="icon iconfont icon-search"></i>
            </div>
        </div>
        <a id="ro-search-button" class="ro-menu-item">
            <i class="icon iconfont icon-search"></i>
        </a>
        <div id="ro-menu-split">
            <span></span>
        </div>

        <a id="menu-user-avatar" class="ro-menu-item" href="/log">
            <span>登录</span>
        </a>
    </div>
</div>

<div id="user-menu" class="ui popup" style="padding: 0">
    <div id="user-menu-namebox" th:text="${session.username}">
    </div>
    <div class="ui large vertical secondary menu">
        <a class="item" href="/userCenter" >
            个人中心
        </a>
        <a class="item" href="/publish/overview" >
            投稿后台
        </a>
        <a class="item" href="/ucLogout">
            退出
        </a>
    </div>
</div>

<div id="user-msg-menu" class="ui popup" style="padding: 0">
    <div class="ui large vertical secondary menu">
        <a class="item" tab="reply" href="/message" >
            回复
        </a>
    </div>
</div>

<div class="ui grid co-container" style="padding: 20px 0 0 0">
    <div class="co-publish-left three wide column">
        <div id="publish-menu" class="ui vertical accordion menu">
            <div class="item">
                <a class="title" href="/publish/overview">
                    <span menu-tab="overview" class="iconfont icon-user root menu-item">总览</span>
                </a>
            </div>
            <div class="item">
                <a class="active title">
                    <span class="iconfont icon-edit-fill"> 文章管理</span>
                </a>
                <div class="active content">
                    <div>
                        <div class="ui vertical text menu">
                            <a class="item menu-item" menu-tab="article-dashboard" href="/publish/board">
                                文章总览
                            </a>
<!--                            <a class="item menu-item" menu-tab="news" href="/co/publish/news">-->
<!--                                发布资讯-->
<!--                            </a>-->
                            <a class="item menu-item" menu-tab="column" href="/publish/column">
                                撰写专栏
                            </a>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="item">-->
<!--                <a class="active title">-->
<!--                    <span class="iconfont icon-file-image"> 画札管理</span>-->
<!--                </a>-->
<!--                <div class="active content">-->
<!--                    <div>-->
<!--                        <div class="ui vertical text menu">-->
<!--                            <a class="item menu-item" menu-tab="picset-dashboard" href="/co/publish/picset-dashboard">-->
<!--                                画札总览-->
<!--                            </a>-->
<!--                            <a class="item menu-item" menu-tab="picset" href="/co/publish/picset">-->
<!--                                创建画札-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
    <div class="co-publish-right thirteen wide column">
        <table class="ui blue table">
            <thead>
            <tr>
                <th colspan="4">
                    我的投稿数据
                </th>
            </tr>
            <tr>
                <th>类型</th>
                <th>条目</th>
                <th>阅读量</th>
                <th>评论数</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>学术</td>
                <td th:text="${session.xArticleNum}">0</td>
                <td th:text="${session.xViewAll}">0</td>
                <td th:text="${session.xLikeAll}">0</td>
            </tr>
            <tr>
                <td>资讯</td>
                <td th:text="${session.zArticleNum}">0</td>
                <td th:text="${session.zViewAll}">0</td>
                <td th:text="${session.zLikeAll}">0</td>
            </tr>
            <tr>
                <td>杂谈</td>
                <td th:text="${session.tArticleNum}">0</td>
                <td th:text="${session.tViewAll}">0</td>
                <td th:text="${session.tLikeAll}">0</td>
            </tr>
            </tbody>
        </table>

        <div class="ui piled segment" style="margin-top: 60px; color: rgba(0,0,0,.68);">
            <h3 class="ui dividing header">
                <i class="iconfont icon-alert-fill "></i>
                <div class="content">
                    投稿小Tips
                </div>
            </h3>

            <p>如果你已经在第三方平台发布了文章, 想要简单的搬到三国爱好者交流论坛。那么可以直接 <code>crtl + c/v</code> 进行复制。 月幕的富文本编辑器支持将主流文章平台的内容直接复制过来并保持格式不变动，
                如知乎、B站专栏、微信公众号等。
                <br/>但对于一些根本没格式 <small>(bangumi、贴吧)</small> 的网站不支持, 这些网站一复制过来文字就都堆在一起了，只能手动改，无解。</p>
            <p>需要注意的是, 要保持格式那么复制时需要在第三方平台的<b>编辑页</b>复制, 直接 <code>crtl + a</code> 全选即可。 如果已经发布, 则可以点击修改， 进入修改页然后在复制。</p>
            <hr color="#ddd" width="50%"/>
            <p>关于文章的附图, 支持直接上传和复制网络图片</p>
            <p><b>复制网络图片的方法: </b>右键你需要的图片, 点击【复制图片】按钮 <small>(不是复制图片地址)</small>， 即可在月幕的富文本编辑器中 <code>ctrl+v</code> 进行粘贴。</p>
            <hr color="#ddd" width="50%"/>
            <p>月幕没有审核, 只要是Galgame相关的想发什么都行， 仅需注意图片不要露点, 如果发错了位置(比如把专栏发到资讯里了) 可以在文章总览页的条目右边小菜单中进行修改。
                更多注意事项可以查看
                <a href="https://www.ymgal.com/co/article/26206664041709575">发文守则</a></p>
        </div>
    </div>
</div>

<script th:src="@{/index/style/components/jquery.min.js}"></script>
<script th:src="@{/index/style/components/semanticui/semantic.min.js}"></script>
<script th:src="@{/index/style/js/common.js}"></script>
<script th:src="@{/index/style/js/usermenu.js}"></script>

<script type="text/javascript">
</script>

</body>

<script type="application/javascript">

    $('.menu-item[menu-tab="overview"]').addClass('active');

    $('#publish-menu').sticky({
        context: '.co-container'
    });
</script>


</html>

