<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <!-- basic styles -->

    <link href="/asset/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/asset/css/font-awesome.min.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="/asset/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <link rel="stylesheet" href="/asset/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="/asset/css/datepicker.css" />
    <link rel="stylesheet" href="/asset/css/ui.jqgrid.css" />

    <!-- fonts -->



    <!-- ace styles -->

    <link rel="stylesheet" href="/asset/css/ace.min.css" />
    <link rel="stylesheet" href="/asset/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/asset/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/asset/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="/asset/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/asset/js/html5shiv.js"></script>
    <script src="/asset/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/index/style/css/main.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/semanticui/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/components/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/index/style/css/co/noteindex.css}">
    <link rel="stylesheet" th:href="@{/avatar/components/cropper/cropper.min.css}">
</head>
<body style="background-color: white;font-family: Helvetica Neue" th:if="${session.role=='admin'}">
<!--导航栏-->
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf" style="font-size: 20px"></i>
                    三国爱好者交流论坛后台管理系统
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" th:src="@{${session.avatar}}" alt="Jason's Photo" />
                        <span class="user-info">
									<small>欢迎光临,</small >
                            <span th:text="${session.username}">管理员</span>

								</span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                头像修改
                            </a>
                        </li>


                        <li class="divider"></li>

                        <li>
                            <a href="#">
                                <i class="icon-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
    </div><!-- /.container -->
</div>
<!--侧边栏-->
<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">



    </div><!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li >
            <a href="/admin">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> 控制台 </span>
            </a>
        </li>

        <li >
            <a href="/userManage">
                <i class="icon-text-width"></i>
                <span class="menu-text"> 用户管理 </span>
            </a>
        </li>
        <li>
            <a href="/articleManage">
                <i class="icon-text-width"></i>
                <span class="menu-text"> 文章管理 </span>
            </a>
        </li>
        <li>
            <a href="/article/notice">
                <i class="icon-text-width"></i>
                <span class="menu-text"> 公告管理 </span>
            </a>
        </li>
        <li>
            <a href="/adviceManage">
                <i class="icon-text-width"></i>
                <span class="menu-text"> 留言管理 </span>
            </a>
        </li>
        <li class="active">
            <a href="/personageManage">
                <i class="icon-picture"></i>
                <span class="menu-text"> 图鉴管理 </span>
            </a>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>
<!--主题上标栏-->
<div class="main-content" >
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>
            <li class="active">图鉴管理</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search" style="margin-right :50%">
            <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..."  id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
            </form>
        </div><!-- #nav-search -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="ui modal" id="model1">
                    <div class="header">
                        创建新的人物资料
                    </div>
                    <div class="image content" >
                        <input type="file"
                               accept="image/*"
                               id="imgReader"
                               onchange="loadingImg(event)"
                               style="display: none"
                        >
                        <div class="ui image"  style="height: 50%;">
                            <img id="cropImg">
                        </div>
                        <div class="description" style="flex: 1 0 auto">
                            <div class="previewBox">
                            </div>
                            <form id="notes-save-form" class="ui form">
                                <input type="text"  name="personName" placeholder="姓名(20字以内)"/>
                                <input type="text"  name="nativePlace"  style="margin-top: 5%" placeholder="籍贯(13字以内)"/>
                                <input type="text"  name="nation" style="margin-top: 5%" placeholder="国家(20字以内)"/>
                                <textarea  name="life" style="margin-top: 5%;width: 200%;margin-left: -100%;height: 500px"placeholder="生平(3000字以内)"></textarea>

                            </form>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="ui black button" onclick="uploadImg()">
                            选择主图
                        </div>
                        <div class="ui black deny button">
                            取消
                        </div>
                        <div class="ui positive right button blue-btn" onclick="createNotes(this)">
                            确定
                        </div>
                    </div>
                </div>
                <!-- PAGE CONTENT BEGINS -->
                <div class="ui modal" id="model2">
                                        <div class="header">
                                            创建新的人物资料
                                        </div>
                                        <div class="image content" >
                                            <input type="file"
                                                   accept="image/*"
                                                   id="imgReader1"
                                                   onchange="loadingImg1(event)"
                                                   style="display: none"
                                            >
                                            <div class="ui image"  style="height: 50%;">
                                                <img id="cropImg1">
                                            </div>
                                            <div class="description" style="flex: 1 0 auto">
                                                <div class="previewBox1">
                                                </div>
                                                <form id="notes-save-form1" class="ui form">
                                                    <input type="text"  id="personName" name="personName" placeholder="姓名(20字以内)"/>
                                                    <input type="text" id="nativePlace" name="nativePlace"  style="margin-top: 5%" placeholder="籍贯(20字以内)"/>
                                                    <input type="text" id="nation" name="nation" style="margin-top: 5%" placeholder="国家(20字以内)"/>
                                                    <input style="display: none" id="personId" name="personId">
                                                    <textarea  id="life" name="life" style="margin-top: 5%;width: 200%;margin-left: -100%;height: 500px"placeholder="生平(3000字以内)"></textarea>

                                                </form>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <div class="ui black button" onclick="uploadImg1()">
                                                选择主图
                                            </div>
                                            <div class="ui black deny button">
                                                取消
                                            </div>
                                            <div class="ui positive right button blue-btn" onclick="modifyNotes(this)">
                                             修改
                                            </div>
                                        </div>

                </div>
                <div  id="notes-create" class="alert alert-success" style="width: 8%;">
                    <i class="icon-plus-sign bigger-120 green">增加新人物</i>
                </div>
                <table class="table table-bordered  table-striped " style="width: 70%">

                    <tr>
                        <td class="alert-warning">ID</td>
                        <td class="alert-success">姓名</td>
                        <td class="alert-block">图鉴</td>
                        <td class="alert-info">国家</td>
                        <td class="alert-warning">籍贯</td>
                        <td class="alert-danger">生平</td>

                        <td class="info">操作</td>
                    </tr>
                    <tr th:each="u:${pageInfo.list}" >
                        <td class="alert-block" style="width: 5%;display:table-cell;vertical-align:middle" th:text="${u.id}">ID</td>
                        <td class="alert-warning" style="width: 10%;display:table-cell;vertical-align:middle" th:text="${u.name}">姓名</td>
                        <td style="width: 10%"><img  style="width: 100%"th:src="${u.personImage}"></td>
                        <td class="alert-info" style="width:10%;display:table-cell;vertical-align:middle" th:text="${u.nation}"></td>
                        <td class="alert-success" style="width: 10%;display:table-cell;vertical-align:middle" th:text="${u.nativePlace}">籍贯</td>
                        <td class="alert-warning"style="overflow:hidden;text-overflow:ellipsis;display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:5; " th:text="${u.life}">生平</td>
                        <td class="alert-danger" style="text-align: center;width: 15%"><i class="icon-edit bigger-200 blue" th:onclick="|javascript:modifyPerson('${u.id}')|" ></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-trash bigger-200 red" th:onclick="|javascript:deletePerson('${u.id}')|"></i></td>
                    </tr>
                </table>

                <!--显示分页信息-->
                <div class="modal-footer no-margin-top" style="width: 70%">
                    <div class="col-md-6">
                        当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录<span id= "pageThis" style="visibility: hidden" th:text="${pageInfo.pageNum}"></span>
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="'/personageManage?pageNum=1'">首页</a>
                        </li>

                        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                            <a th:href="'/personageManage?pageNum='+${pageInfo.prePage}">
                                <i class="ace-icon fa fa-angle-double-left">上一页</i>
                            </a>
                        </li>
                        <!--遍历条数-->
                        <li th:each="nav:${pageInfo.navigatepageNums}">
                            <a th:href="'/personageManage?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                        </li>

                        <li class="next" th:if="${pageInfo.hasNextPage}">
                            <a th:href="'/personageManage?pageNum='+${pageInfo.nextPage}">
                                <i class="ace-icon fa fa-angle-double-right">下一页</i>
                            </a>
                        </li>

                        <li>
                            <a th:href="'/personageManage?pageNum='+${pageInfo.pages}">尾页</a>
                        </li>
                    </ul>
                </div>

                <script type="text/javascript">
                    var $path_base = "/";//this will be used in gritter alerts containing images
                </script>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function modifyPerson(id) {
        var id=id;
        $.ajax({
            type: "post",
            url: "/personage/findPersonById",
            data:{"id":id},
            //请求成功
            success: function (result) {
                if (result.state!=200) {
                    alert("数据库异常");
                    window.location.href="/personageManage";
                }

                $("#nation").val(result.person.nation);
                $("#nativePlace").val(result.person.nativePlace);
                $("#personName").val(result.person.name);
                $("#life").val(result.person.life);
                $("#cropImg1").attr("src",result.person.personImage);
                $("#preview").attr("src",result.person.personImage);
                $("#personId").val(result.person.id);


            }
        })

    }
</script>

<script type="text/javascript">
    function deletePerson(id) {
        var pageNow=$("#pageThis").html();
        var id=id;
        $.ajax({
            type: "post",
            url: "/personage/deletePersonById",
            data:{"id":id},
            success: function (result) {
                if (result.state!=200) {
                    alert("数据库异常");
                    window.location.href="/personageManage";
                }

                alert("删除成功");
                window.location.href="/personageManage?pageNum="+pageNow;

            }
        })

    }
</script>


</body>

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="asset/js/jquery.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='../static/asset/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='../static/asset/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="asset/js/bootstrap.min.js"></script>
<script src="asset/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="../static/asset/js/excanvas.min.js"></script>
<![endif]-->


<script src="asset/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="asset/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="asset/js/jqGrid/i18n/grid.locale-en.js"></script>
<!-- ace scripts -->

<script src="asset/js/ace-elements.min.js"></script>
<script src="asset/js/ace.min.js"></script>


<script src="/index/style/components/jquery.min.js"></script>
<script src="/index/style/components/semanticui/semantic.min.js"></script>
<script src="/index/style/js/common.js"></script>
<script src="/index/style/js/usermenu.js"></script>
<script th:src="@{/index/style/components/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/index/style/components/vue/vue.min.js}"></script>
<script th:src="@{/index/style/js/co/noteindex.js}"></script>
<script th:src="@{/avatar/components/cropper/cropper.min.js}"></script>
</html>